.titleH2 {
  color: black;
  margin-left: 2em;
  font-size: 4em;
}

h4,
p {
  margin: 1em;
  color: white;
}

/* Section "Des idées pour un prochain voyage" */
.centrercolumNextTravel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.blocNextTraver1 {
  background-color: blue;
  margin: 1em;
  border-radius: 20px;
}

.imageNextTravel {
  height: 100%;
}

.titlepadding {
  margin-left: 2em;
}
