.titleCadeau {
  margin: 2em;
  font-size: 4em;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.Bouttonoffrez {
  background-color: rgb(163, 159, 159);
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  font-size: 28px;
  width: 200px;
  display: flex;
  position: absolute;
  margin-left: 10em;
}

.imagecarte {
  margin-top: 6em;
  max-width: 100%;
}
