.contenantimage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.textparis {
  font-size: 28px;
  max-height: 8em;
  position: absolute;
  margin-left: 1.5em;
  margin-top: 1.3em;
}

#imagegrottetaille {
  border-radius: 5%;
  max-width: 30em;
  margin: 1.5em;
  margin-top: 25em;
}

#bouttonexperience {
  background-color: white;
  position: absolute;
  margin-top: 21em;
}

.titlepadding {
  font-size: 4em;
  position: absolute;
}

.texajustifé {
  position: absolute;
  margin-top: 12.5em;
}
