input {
  border: none;
}
input:active {
  border: none;
}
h4 {
  color: black !important;
}
button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #df1461;
}
button::active {
  background-color: black;
}
.App {
  text-align: center;
}
.App-logo {
  width: 10%;
  pointer-events: none;
}
.App-world {
  width: 3%;
}
.App-header-section {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -85vh;
}
.barre_de_recherche {
  width: 43%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 50px;
}
.App-section-header-input {
  align-items: center;
  margin-bottom: 30px;
}
.App-header {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  width: 75%;
}
.List {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
